#!/usr/local/bin/bash

if [ -f "$HOME/.gnupg/azure/app_id.gpg" ]; then
    ARM_CLIENT_ID="$(gpg -d -q "$HOME"/.gnupg/azure/app_id.gpg)"
    export ARM_CLIENT_ID
fi

if [ -f "$HOME/.gnupg/azure/sub_id.gpg" ]; then
    ARM_SUBSCRIPTION_ID="$(gpg -d -q "$HOME"/.gnupg/azure/sub_id.gpg)"
    export ARM_SUBSCRIPTION_ID
fi

if [ -f "$HOME/.gnupg/azure/tenant.gpg" ]; then
    ARM_TENANT_ID="$(gpg -d -q "$HOME"/.gnupg/azure/tenant.gpg)"
    export ARM_TENANT_ID
fi

if [ -f "$HOME/.gnupg/azure/password.gpg" ]; then
    ARM_CLIENT_SECRET="$(gpg -d -q "$HOME"/.gnupg/azure/password.gpg)"
    export ARM_CLIENT_SECRET
fi
