#!/usr/local/bin/bash

if [ -f "$HOME/.gnupg/azure/app_id.gpg" ]; then
    ARM_CLIENT_ID="$(gpg -d -q "$HOME"/.gnupg/azure/app_id.gpg)"
    TF_VAR_sp_client_id="${ARM_CLIENT_ID}"
    export ARM_CLIENT_ID
    export TF_VAR_sp_client_id
fi

if [ -f "$HOME/.gnupg/azure/sub_id.gpg" ]; then
    ARM_SUBSCRIPTION_ID="$(gpg -d -q "$HOME"/.gnupg/azure/sub_id.gpg)"
    export ARM_SUBSCRIPTION_ID
fi

if [ -f "$HOME/.gnupg/azure/tenant.gpg" ]; then
    ARM_TENANT_ID="$(gpg -d -q "$HOME"/.gnupg/azure/tenant.gpg)"
    export ARM_TENANT_ID
fi

if [ -f "$HOME/.gnupg/azure/password.gpg" ]; then
    ARM_CLIENT_SECRET="$(gpg -d -q "$HOME"/.gnupg/azure/password.gpg)"
    TF_VAR_sp_client_secret="${ARM_CLIENT_SECRET}"
    export ARM_CLIENT_SECRET
    export TF_VAR_sp_client_secret
fi

if [ -f "$HOME/.gnupg/aws/access_key_id.gpg" ]; then
    AWS_ACCESS_KEY_ID="$(gpg -d -q "$HOME"/.gnupg/aws/access_key_id.gpg)"
    export AWS_ACCESS_KEY_ID
fi

if [ -f "$HOME/.gnupg/aws/secret_access_key.gpg" ]; then
    AWS_SECRET_ACCESS_KEY="$(gpg -d -q "$HOME"/.gnupg/aws/secret_access_key.gpg)"
    export AWS_SECRET_ACCESS_KEY
    AWS_DEFAULT_REGION="us-west-2"
    export AWS_DEFAULT_REGION
fi

if [ -f "$HOME/.gnupg/gcp/creds.gpg" ]; then
    TF_VAR_credentials_path="$(gpg -d -q "$HOME"/.gnupg/gcp/creds.gpg)"
    export TF_VAR_credentials_path
fi
